camposSemanticos/Connected Services/ServicioFamilias/ServicioFamilias1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioFamiliasWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioFamiliasWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInfoPrimitiva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoPrimitiva" nillable="true" type="tns:InfoPrimitiva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoPrimitiva" nillable="true" type="tns:ArrayOfInfoPrimitiva" />
  <xs:complexType name="InfoPrimitiva">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCategoriaPalabra" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategoriaPrimitiva" type="xs:int" />
      <xs:element minOccurs="0" name="IdFamilia" type="xs:int" />
      <xs:element minOccurs="0" name="IdPrefijo" type="xs:int" />
      <xs:element minOccurs="0" name="IdSufijo" type="xs:int" />
      <xs:element minOccurs="0" name="Prefijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Primitiva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegularPrefijo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RegularSufijo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sufijo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoPrimitiva" nillable="true" type="tns:InfoPrimitiva" />
  <xs:complexType name="ArrayOfInfoDerivada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoDerivada" nillable="true" type="tns:InfoDerivada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoDerivada" nillable="true" type="tns:ArrayOfInfoDerivada" />
  <xs:complexType name="InfoDerivada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Derivada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCategoriaDerivada" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategoriaPalabra" type="xs:int" />
      <xs:element minOccurs="0" name="IdFamilia" type="xs:int" />
      <xs:element minOccurs="0" name="IdPrefijo" type="xs:int" />
      <xs:element minOccurs="0" name="IdSufijo" type="xs:int" />
      <xs:element minOccurs="0" name="Prefijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegularPrefijo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RegularSufijo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sufijo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoDerivada" nillable="true" type="tns:InfoDerivada" />
</xs:schema>