camposSemanticos/Connected Services/ServicioFamilias/ServicioFamilias3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioFamiliasWCF" />
  <xs:import schemaLocation="https://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ConsultaPrimitivas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPrimitivasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioFamiliasWCF" minOccurs="0" name="ConsultaPrimitivasResult" nillable="true" type="q1:ArrayOfInfoPrimitiva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaDerivadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaDerivadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioFamiliasWCF" minOccurs="0" name="ConsultaDerivadasResult" nillable="true" type="q2:ArrayOfInfoDerivada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TieneFamilia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFormaCanonica" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TieneFamiliaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TieneFamiliaResult" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>