camposSemanticos/Connected Services/ServicioFamilias/ServicioFamilias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioFamilias" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServicioFamilias_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioFamiliasWCF" />
      <xsd:import schemaLocation="https://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioFamilias_ConsultaPrimitivas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaPrimitivas" />
  </wsdl:message>
  <wsdl:message name="IServicioFamilias_ConsultaPrimitivas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaPrimitivasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioFamilias_ConsultaDerivadas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaDerivadas" />
  </wsdl:message>
  <wsdl:message name="IServicioFamilias_ConsultaDerivadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaDerivadasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioFamilias_TieneFamilia_InputMessage">
    <wsdl:part name="parameters" element="tns:TieneFamilia" />
  </wsdl:message>
  <wsdl:message name="IServicioFamilias_TieneFamilia_OutputMessage">
    <wsdl:part name="parameters" element="tns:TieneFamiliaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioFamilias">
    <wsdl:operation name="ConsultaPrimitivas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioFamilias/ConsultaPrimitivas" message="tns:IServicioFamilias_ConsultaPrimitivas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioFamilias/ConsultaPrimitivasResponse" message="tns:IServicioFamilias_ConsultaPrimitivas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaDerivadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioFamilias/ConsultaDerivadas" message="tns:IServicioFamilias_ConsultaDerivadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioFamilias/ConsultaDerivadasResponse" message="tns:IServicioFamilias_ConsultaDerivadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TieneFamilia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioFamilias/TieneFamilia" message="tns:IServicioFamilias_TieneFamilia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioFamilias/TieneFamiliaResponse" message="tns:IServicioFamilias_TieneFamilia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioFamilias" type="tns:IServicioFamilias">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaPrimitivas">
      <soap:operation soapAction="http://tempuri.org/IServicioFamilias/ConsultaPrimitivas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDerivadas">
      <soap:operation soapAction="http://tempuri.org/IServicioFamilias/ConsultaDerivadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TieneFamilia">
      <soap:operation soapAction="http://tempuri.org/IServicioFamilias/TieneFamilia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServicioFamilias" type="tns:IServicioFamilias">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServicioFamilias_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaPrimitivas">
      <soap:operation soapAction="http://tempuri.org/IServicioFamilias/ConsultaPrimitivas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDerivadas">
      <soap:operation soapAction="http://tempuri.org/IServicioFamilias/ConsultaDerivadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TieneFamilia">
      <soap:operation soapAction="http://tempuri.org/IServicioFamilias/TieneFamilia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioFamilias">
    <wsdl:port name="BasicHttpBinding_IServicioFamilias" binding="tns:BasicHttpBinding_IServicioFamilias">
      <soap:address location="http://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServicioFamilias" binding="tns:BasicHttpsBinding_IServicioFamilias">
      <soap:address location="https://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>